<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<section class="content">
  <title>{% block title %}{% endblock %} - parknBot</title>
  <p id="ingame">
    In-Game
  </p>
  {% block content %}
  <p id="user-list">
  </p>
  <hr>
  <p id =inqueuelabel=>
    In-Queue
  </p>
  <p id="inqueue">
    
  </p>
  <script>
    function updateUserList() {
      // Make an AJAX request to get the updated user list
      $.ajax({
        url: '/dash/obs/queue',
        method: 'GET',
        dataType: 'json',
        success: function(response) {
          var users = response.users;
          var userSlots = response.userSlots;
          var userListHTML = '';

          // Display users in-game
          for (var i = 0; i < userSlots && i < users.length; i++) {
            userListHTML += (i + 1) + '. ' + users[i] + '<br>'; // Add ordered number and user
          }

          // Update the user list on the page
          $('#user-list').html(userListHTML);

          // Display users in queue (not in-game)
          var queueListHTML = '';
          for (var j = userSlots; j < users.length; j++) {
            queueListHTML += (j + 1) + '. ' + users[j] + '<br>'; // Add ordered number and user to the queue section
          }
          $('#inqueue').html("In-Queue<br>" + queueListHTML);
        },
        error: function(error) {
          console.error('Error updating user list:', error);
        }
      });
    }

    // Call the function initially
    updateUserList();

    // You might want to set up a timer to periodically update the user list
    setInterval(updateUserList, 1000);  // Update every 5 seconds, for example
  </script>
  {% endblock %}
</section>
