<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<section class="content">
  <title>{% block title %}{% endblock %} - parknBot</title>
  <p id="ingame">
    In-Game
  </p>
  {% block content %}
  <p id="user-list">

  <p id="inqueue">
    In-Queue
  </p>
  </p>
  <script>
    function updateUserList() {
      // Make an AJAX request to get the updated user list
      $.ajax({
          url: '/dash/obs/queue',
          method: 'GET',
          dataType: 'json',
          success: function(response) {
              // Separate users above and below the line
              var usersAboveLine = response.users.slice(0, 3); // Assuming first 3 users are above the line
              var usersBelowLine = response.users.slice(3);
  
              // Update the user list on the page
              $('#user-list').html(usersAboveLine.join('<br>') + '<hr>' + usersBelowLine.join('<br>'));
          },
          error: function(error) {
              console.error('Error updating user list:', error);
          }
      });
  }

    // Call the function initially
    updateUserList();

    // You might want to set up a timer to periodically update the user list
    setInterval(updateUserList, 1000);  // Update every 5 seconds, for example
  </script>
  {% endblock %}
</section>
